.col-lg-2 img {
    margin-top: 10px;
    font-size: 16px;
}
::placeholder{
    color: #007BFF;
    font-style: italic;
}
.search-container {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("images/.png");
    background-repeat: no-repeat;
}
#search::placeholder {
    text-indent: 20px;
}
/* css slice body */

.col-lg-5 p:first-child {
    color: #FFF;
    font-family: "Roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-top: 175px;
}

.col-lg-5 p:nth-child(2) {
    color:  brown;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/* css Courses content */
.card-img {
    width: 253.4px;
    height: 150.313px;
    flex-shrink: 0;
}
.card-name {
    color: rgba(0, 123, 255, 1);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    /* 120% */
}
.card-botton{
    display: flex;
    justify-content: space-around;
    background-color: rgb(191, 185, 185);
}

.card-photo {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 17.5px;
    background: url("<path-to-image>"), lightgray 0px 0px / 100% 100% no-repeat;
}

h3 {
    color: #212529;
    font-family: "Roboto";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px;
    margin-top: 45px;
    margin-bottom: 31px;
}
.card-discount-price{
    text-decoration: line-through;
}
.card .price{
    font-weight: bold;
}
.card-price{
    display: flex;
    
}
.container-footer a{
    color: #007BFF;
}
.card{
    min-width: 253px !important;
    margin-right: 31px;
}
.teacher-name {
    font-weight:  bold;
}
